th{
    text-align: left;
}

.axis_drop{
}

#dropPointX{
}

#dropPointY{
}

textarea.child {
      height:100%;
}
  
circle, text{
    cursor:pointer;
}
  
div.parent {height:60px;}
textarea.child {height:100%;}

#preloader_img{
    margin-right: 16px;
    width: 22px;
    height: 22px;
}

.comparison table td, .comparison table th{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.comparison table #r0{
    background: #eee;
    padding:2px;
}

.comparison table td{
    border-bottom: 1px solid #ccc;
}

img.tick{
    width:14px;
    height:14px;
    margin:0;
}

#graph_table{
  table-layout:fixed;
  border-spacing:0px;
}

img.no{
    width:14px;
    height:14px;
    margin:0;
}

th{
    text-align:center;
}

th.td_abstract{
    text-align:left;
    padding-top:3px;
    padding-bottom:3px;
}

.axis_drop div{
    text-align: center;
}

#wGraph *{
    overflow: hidden;
}

#dropPointY  div{
    overflow:visible;
}

td.numeric
{
/*  color: #222;*/
}

td.tick, td.no
{
    text-align:left;
}





.help{
    z-index: 10000;
    position: absolute;
    background: white;
    width: 700px;
    height: 450px;
    color: #000000;
    border: 1px solid #777;
}

.fadeOverlay{
    z-index: 9000;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #FFFFFF;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.window-helpButton.active{
    background: url("images/help_hover.png");
}


.window-helpButton {
    background: url("images/help.png");
    cursor: pointer;
    height: 16px;
    right: 25px;
    position: absolute;
    top: 4px;
    width: 17px;
}

.fullwidth {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

.td_abstract .typelabel{
    float: right;
    display: inline-block;
    width: 16px;
    height:16px;
}

.td_abstract .int{
    background: url("images/types/int.png");
}

.td_abstract .clafer{
}

.td_abstract .bool{
}

.td_abstract .filter_normal{
    background: url("images/types/bool_normal.png");
}

.td_abstract .filter_checked{
    background: url("images/types/bool_checked.png");
}

.td_abstract .filter_unchecked{
    background: url("images/types/bool_unchecked.png");
}

.td_instance{
    padding:3px;
}

.td_abstract{
    padding-top:3px;
    padding-bottom:3px;
}

.em{
    background-color: #ebebeb;
}

.emvalue{
    color: #bbb;
}