th{
    text-align: left;
}

.axis_drop{
}

#dropPointX{
}

#dropPointY{
}

textarea.child {
      height:100%;
}
  
circle, text{
    cursor:pointer;
}
  
div.parent {height:60px;}
textarea.child {height:100%;}

#preloader_img{
    margin-right: 16px;
    width: 22px;
    height: 22px;
}

#graph_table{
  table-layout:fixed;
  border-spacing:0px;
}

.axis_drop div{
    text-align: center;
}

#wGraph *{
    overflow: hidden;
}

#dropPointY  div{
    overflow:visible;
}

.window-helpButton.active{
    background: url("images/help_hover.png");
}

.window-helpButton {
    background: url("images/help.png");
    cursor: pointer;
    height: 16px;
    right: 25px;
    position: absolute;
    top: 4px;
    width: 17px;
}

.fullwidth {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}


.verticalLine {
    display: inline-block;
    width: 2px;
    border-left: 1px solid #ccc;
    margin-left:5px;
    margin-right:3px;
}

/* New Matrix */

.comparison table td, .comparison table th{
    white-space: nowrap;
    overflow: hidden;
}

.comparison table td{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.comparison table #r0{
    background: #eee;
    padding:2px;
}

.comparison table td{
    border-bottom: 1px solid #ccc;
}

.comparison th.field-row{
    text-align:left;
    padding-top:3px;
    padding-bottom:3px;
}

.comparison td.numeric
{
/*  color: #222;*/
}

.comparison td.tick, td.no
{
    text-align:left;
}

.comparison .field-row .typelabel{
    float: right;
    display: inline-block;
    width: 16px;
    height:16px;
}

.comparison .field-row .typelabel.int{
    background: url("images/types/int.png");
}

.comparison .field-row .typelabel.clafer{
}

.comparison .field-row .typelabel.bool{
}

.comparison .field-row .filter_normal{
    background: url("images/types/bool_normal.png");
}

.comparison .field-row .filter_checked{
    background: url("images/types/bool_checked.png");
}

.comparison .field-row .filter_unchecked{
    background: url("images/types/bool_unchecked.png");
}

.comparison .emabstract .filter_checked{
    background: url("images/types/bool_always_checked.png");
}

.comparison .emabstract .filter_unchecked{
    background: url("images/types/bool_always_unchecked.png");
}

.comparison .emabstract .int{
    background: url("images/types/int_always_same.png");
}

.comparison .content-cell, .comparison .extra-cell{
    padding:3px;
}

.comparison .field-row{
    padding-top:3px;
    padding-bottom:3px;
}

.comparison .emvalue{
    color: #bbb;
}

.comparison tr.hiddenBySearch{
    display:none;
}

.comparison img.tick, .comparison img.tickMan {
    width:14px;
    height:14px;
    margin:0;
}

.comparison img.no, .comparison img.noMan {
    width:14px;
    height:14px;
    margin:0;
}

.comparison th{
    text-align:center;
    background: #ccc;
    border: 1px solid #777;
}

.comparison th.selected{
    color:red;
}

.comparison th.over{
    background: rgb(255, 255, 204);
}

.comparison tr.collapsed{
    display: none;
}

.comparison .hiddenAsNestedQuality{
    display:none;
}

.comparison .emvalueEq{
    color: #bbb;
}

.comparison .field-item.bool, .comparison .field-item.boolclafer {
    background: #F0E68C;
}

.comparison td.field-item.emabstract {
    background-color: #ebebeb;
}

.comparison td.field-item{
    background-color: #f9f9f9;    
}

.comparison .em{
    background-color: #ebebeb;
    border-right: none;
    border-left: none;
}

.filter-input {
    float: right;
    width: 120px;
    padding: 3px 5px;
}


/* SIDEBAR */
    .sidemenu {
        position: absolute;
        left: 0;
        top: 50px;
        overflow: hidden;
        padding: 5px 25px 5px 0;
    }

    .sm-content {
        position: relative;
        left: 1px;
        top: 0;
        z-index: 999;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        width: 150px;
        
        -webkit-transition: all 0.4s;   
           -moz-transition: all 0.4s;   
            -ms-transition: all 0.4s;   
             -o-transition: all 0.4s;   
                transition: all 0.4s; 
        
        -webkit-transform: translate(-100%, 0);
             -moz-transform: translate(-100%, 0);
              -ms-transform: translate(-100%, 0);
               -o-transform: translate(-100%, 0);
                  transform: translate(-100%, 0);  
    }

    .sm-content.active {
        left: 0;
        -webkit-transform: translate(0,0);
           -moz-transform: translate(0,0);
            -ms-transform: translate(0,0);
             -o-transform: translate(0,0);
                transform: translate(0,0);
    }


    .sm-content .sm-open {
        width: 20px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        color: #7f7f7f;
        border: 1px solid #ccc;
        border-width: 1px 1px 1px 0;
        background: #fff;
        position: absolute;
        top: -1px;
        left: 100%;
        text-decoration: none;
        font-size: 10px;
        
        
    }

    

    .sm-content .sm-open:after {
        content: '>';
        display: block;
        text-align: center;
        -webkit-transition: color 0.3s;
           -moz-transition: color 0.3s;
            -ms-transition: color 0.3s;
             -o-transition: color 0.3s;
                transition: color 0.3s;
        -webkit-transform: scaleY(2);
           -moz-transform: scaleY(2);
            -ms-transform: scaleY(2);
             -o-transform: scaleY(2);
                transform: scaleY(2);
    }

    .sm-content .sm-open:hover:after {
        color: #000;
    }

    .sm-content.active .sm-open:after {
        content: "<";
    }


/* END SIDEBAR */
